@reference 'tailwindcss';

:host {
    @apply flex items-center justify-between;
}

:host .pagination-btn {
    @apply py-2.5 px-3.5 bg-none border-0 rounded-lg cursor-pointer flex items-center justify-center
}

:host .pagination-btn:hover {
    @apply bg-[#ddd];
}

:host .pagination-btn:disabled {
    @apply cursor-not-allowed;
}

:host .pagination-btn.active {
    @apply bg-[#1c4532] text-white;
}

:host .pagination-btn span {
    @apply text-lg;
}