<div class="show-page">
    <span>
        Showing {{ endItem() }} out of {{ totalCount() }}
    </span>
</div>
<div class="flex items-center gap-4">
    <button
        (click)="onPageChange(pageNumber() - 1)"
        [disabled]="pageNumber() === 1"
        class="pagination-btn"
    >
        <span class="material-symbols-rounded mr-2">
            arrow_back
        </span>
        Previous
    </button>

    @for (page of pageNumbers(); track $index) {
        @if (isNumber(page)) {
            <button
                (click)="onPageChange(page)"
                [class.active]="page === pageNumber()"
                class="pagination-btn"
            >
                {{ page }}
            </button>
        } @else {
            <span class="pagination-ellipsis">...</span>
        }
    }

    <button
        (click)="onPageChange(pageNumber() + 1)"
        [disabled]="pageNumber() === totalPages()"
        class="pagination-btn"
    >
        Next
        <span class="material-symbols-rounded ml-2">
            arrow_forward
        </span>
    </button>
</div>
<div class="flex items-center">
    <label for="per-size" class="text-[0.9rem] mr-1.5">Showing Per Page: </label>
    <select 
        [value]="pageSize()" 
        (change)="onPageSizeChange($event)"
        class="border border-solid border-[#c5c5c5] rounded-md py-1.5 px-2"
    >
        @for (size of pageSizeOptions(); track size) {
            <option [value]="size">{{ size }}</option>
            }
    </select>
</div>