@if(isVariantFull()) {
    <div class="gray-border w-full bg-white flex flex-col p-4.5 gap-2">
        <div class="w-full flex items-center justify-between mb-1">
            <div 
                class="w-12 h-12 rounded-xl flex items-center justify-center"
                [style.background-color]="goal().bgColor"
            >
                <span class="text-xl">{{ goal().emoji }}</span>
            </div>
            <select
                class="gray-border py-2 pl-2 pr-10"
                aria-label="Change goal() status"
                [value]="goal().goalStatus"
                (change)="onStatusChange($event)"
            >
                @for(type of goalStatusOptions; track $index) {
                    @if($index !== 0) {
                        <option [value]="$index" [selected]="$index === goal().goalStatus">{{ type }}</option>
                    }
                }
            </select>
        </div>
        <h1 class="font-medium text-[1.30rem]">{{ goal().name }}</h1>
        <p class="text-sm text-gray-600">{{ goal().description }}</p>
        <div class="flex items-center justify-between mt-5">
            <p class="font-medium">{{ goal().spent ?? 0 | currency }}</p>
            <p class="font-medium">of {{ goal().budget | currency }}</p>
        </div>
        <div class="flex h-2 w-full bg-green-50 rounded-sm">
            <div class="bg-green-400 rounded-l-sm" [style.width.%]="goal().completionPercentage"></div>
        </div>
        <div class="mb-8 flex items-center justify-between">
            <p>{{ goal().completionPercentage ?? 0 }}% completed</p>
            <p>{{ goal().targetDate }} &#183; {{ goal().timeRemaining }} remaining</p>
        </div>
        <div class="flex items-center justify-between gap-2">
            <button 
                class="gray-border p-3 w-full cursor-pointer" 
                (click)="onDelete(goal().goalId)"
            >
                Delete Goal
            </button>
            <button 
                class="gray-border p-3 w-full cursor-pointer" 
                (click)="onEdit(goal().goalId)"
            >
                Update Goal
            </button>
            <button 
                class="w-full p-3 bg-[#1C4532] text-white rounded-md cursor-pointer"
                (click)="onAddMoney(goal().goalId)"
            >
                Add Money
            </button>
        </div>
    </div>
} @else {
    <div class="gray-border flex flex-col p-3 gap-3">
        <div class="flex items-center gap-2">
            <div 
                class="w-12 h-12 rounded-xl flex items-center justify-center"
                [style.background-color]="goal().bgColor"
            >
                <span class="text-xl">{{ goal().emoji }}</span>
            </div>
            <h1 class="font-medium">{{ goal().name }}</h1>
            <p class="ml-auto">{{ goal().completionPercentage ?? 0 }}%</p>
        </div>
        <div class="flex h-2 w-full bg-green-50 rounded-sm">
            <div class="bg-green-400 rounded-l-sm" [style.width.%]="goal().completionPercentage"></div>
        </div>
        <p class="text-xs">{{ goal().timeRemaining }} remaining</p>
    </div>
}
