@for(goal of currentGoals(); track goal.goalId) {
    <div class="gray-border flex flex-col p-3 gap-3">
        <div class="flex items-center gap-2">
            <div class="w-10 h-10 rounded-xl bg-red-600 flex items-center justify-center">
                <span class="text-[1rem]">{{ goal.emoji }}</span>
            </div>
            <h1 class="font-medium">{{ goal.name }}</h1>
            <p class="ml-auto">{{ goal.completionPercentage ?? 0 }}%</p>
        </div>
        <div class="flex h-2 w-full bg-green-50 rounded-sm">
            <div class="bg-green-400 rounded-l-sm" [style.width.%]="goal.completionPercentage"></div>
        </div>
        <p class="text-xs">{{ goal.timeRemaining }} remaining</p>
    </div>
}
