:host {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.4rem;
    gap: 1rem;
}

:host .close-btn {
    cursor: pointer;
}

:host form  {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
}

:host form p {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

:host form p input,
:host form p select {
    padding: 0.8rem 0 0.8rem 0.7rem;
    border-radius: 10px;
    border: 1px solid #CBD5E0;
}

:host form button {
    background-color: #1C4532;
    color: #fff;
    border: none;
    padding: 0.8rem 0;
    border-radius: 10px;
    cursor: pointer;
}