<h1 class="font-bold text-xl">
    {{ isEdit() ? 'Edit' : 'Add' }} Goal
</h1>
<p class="mb-5 text-gray-400">
    {{ isEdit() ? 'Edit your' : 'Add a new' }} transaction to track your finances
</p>
<form class="flex flex-col gap-5" (submit)="onSubmit($event)">
    <div class="relative">
        <label for="name" class="block mb-1">Name</label>
        
        <div class="relative py-[0.8rem] pr-0 pl-3 rounded-lg border border-solid border-[#cbd5e0]">
            <button 
                (click)="showEmojiPicker()"
                class="absolute left-3 top-1/2 -translate-y-1/2 z-10 text-xl"
                type="button">
                {{ emoji() }}
            </button>
            
            <input 
                type="text"
                [formField]="goalForm.name"
                [class.error]="fieldErrors.name()"
                class="pl-10 w-full">
            
            @if(isEmojiPicker()) {
                <div class="absolute left-0 top-full mt-1 z-50">
                    <emoji-mart 
                        (emojiClick)="selectEmoji($event)" 
                    ></emoji-mart>
                </div>
            }
        </div>
        
        @if(fieldErrors.name()) {
            <ul class="error-list">
                @for(error of goalForm.name().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </div>
    <p>
        <label for="description">Description</label>
        <input 
            type="text"
            [formField]="goalForm.description"
            [class.error]="fieldErrors.description()">
        @if(fieldErrors.description()) {
            <ul class="error-list">
                @for(error of goalForm.description().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </p>
    <p>
        <label for="spent">Spent</label>
        <input 
            type="number"
            [formField]="goalForm.spent"
            [class.error]="fieldErrors.spent()">
        @if(fieldErrors.spent()) {
            <ul class="error-list">
                @for(error of goalForm.spent().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </p>
    <p>
        <label for="budget">Budget</label>
        <input 
            type="number"
            [formField]="goalForm.budget"
            [class.error]="fieldErrors.budget()">
        @if(fieldErrors.budget()) {
            <ul class="error-list">
                @for(error of goalForm.budget().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </p>
    <p>
        <select
            [formField]="$any(goalForm.status)"
            [class.error]="fieldErrors.status()"
        >
            @if(!isEdit()) {
                <option value="null" disabled>Select an status</option>
            }
            @for(option of goalStatusOptions; track $index) {
                <option [value]="$index + 1">{{ option }}</option>
            }
        </select>
        @if(fieldErrors.status()) {
            <ul class="error-list">
                @for(error of goalForm.status().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </p>
    <p>
        <label for="target-date">Target Date</label>
        <input 
            type="date"
            [formField]="goalForm.targetDate"
            [class.error]="fieldErrors.targetDate()">
        @if(fieldErrors.targetDate()) {
            <ul class="error-list">
                @for(error of goalForm.targetDate().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </p>
    <button 
        class="bg-[#1c4532] text-white border-0 py-[0.8rem] rounded-lg cursor-pointer"
        type="submit" 
        [disabled]="isLoading() || goalForm().invalid()"
    >
       @if(isLoading()) {
            <span class="material-symbols-outlined spinning">
                progress_activity
            </span>
       } @else { 
         <p>{{ isEdit() ? "Update" : "Create" }}</p>
       }
    </button>
</form>