<h1 class="font-bold text-xl">
    {{ isEdit() ? 'Edit' : 'Add' }} Transaction
</h1>
<p class="mb-5 text-gray-400">
    {{ isEdit() ? 'Edit your' : 'Add a new' }} transaction to track your finances
</p>
<form class="flex flex-col gap-5" (submit)="onSubmit($event)">
    <div class="flex flex-col gap-1">
        <label for="type">Transaction Type</label>
        <div class="flex gap-4">    
            <label 
                for="income" 
                class="flex flex-1 items-center justify-center gray-border py-2 gap-1 cursor-pointer"
                (click)="incomeInput.checked = true"
            >
                <input 
                    #incomeInput
                    type="radio" 
                    name="transactionType"
                    [checked]="transactionForm.transactionType().value() === 'Income'"
                    (change)="transactionForm.transactionType().value.set('Income')">
                Income
            </label>
            <label 
                for="expense" 
                class="flex flex-1 items-center justify-center gray-border py-2 gap-1 cursor-pointer"
                (click)="expenseInput.checked = true"
            >
                <input 
                    #expenseInput
                    type="radio" 
                    name="transactionType"
                    [checked]="transactionForm.transactionType().value() === 'Expense'"
                    (change)="transactionForm.transactionType().value.set('Expense')">
                Expense
            </label>
        </div>
        @if(fieldErrors.transactionType()) {
            <ul class="error-list">
                @for(error of transactionForm.transactionType().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </div>
    <p>
        <label for="name">Name</label>
        <input 
            type="text"
            [formField]="transactionForm.name"
            [class.error]="fieldErrors.name()">
        @if(fieldErrors.name()) {
            <ul class="error-list">
                @for(error of transactionForm.name().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </p>
    <p>
        <label for="amount">Amount</label>
        <input 
            type="number"
            [formField]="transactionForm.amount"
            [class.error]="fieldErrors.amount()">
        @if(fieldErrors.amount()) {
            <ul class="error-list">
                @for(error of transactionForm.amount().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </p>
    <p>
        <label for="category">Category</label>
        <select [formField]="transactionForm.category" [class.error]="fieldErrors.category()">
            @if(!isEdit()) {
                <option value="" disabled>Select a category</option>
            }
            @for(category of categories(); track category.categoryId) {
                <option [value]="category.categoryId">
                    {{ category.name }}
                </option>
            }
        </select>
        @if(fieldErrors.category()) {
            <ul class="error-list">
                @for(error of transactionForm.category().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </p>
    <p>
        <label for="transaction-date">Date</label>
        <input 
            [formField]="transactionForm.transactionDate"
            [class.error]="fieldErrors.transactionDate()"
            (input)="transactionForm.transactionDate()"
            type="date">
        @if(fieldErrors.transactionDate()) {
            <ul class="error-list">
                @for(error of transactionForm.transactionDate().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </p>
    <p>
       <label for="payment-type">Payment Method</label>
       <select 
            [formField]="transactionForm.paymentType"
            [class.error]="fieldErrors.paymentType()"
       >
        @for(type of paymentTypes; track type.value) {
            <option [value]="type.value">{{ type.label }}</option>
        }
       </select> 
    </p>
    @if(fieldErrors.paymentType()) {
        <ul class="error-list">
            @for(error of transactionForm.paymentType().errors(); track error.kind) {
                <li>{{ error.message }}</li>
            }
        </ul>
    }
    <button 
        class="bg-[#1c4532] text-white border-0 py-[0.8rem] rounded-lg cursor-pointer"
        type="submit" 
        [disabled]="isLoading() || transactionForm().invalid()"
    >
       @if(isLoading()) {
            <span class="material-symbols-outlined spinning">
                progress_activity
            </span>
       } @else { 
         <p>{{ isEdit() ? "Update" : "Create" }}</p>
       }
    </button>
</form>