:host {
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1.1rem 1.2rem;
    box-shadow: 0px 16px 16px -8px rgba(12, 12, 13, 0.1), 0px 4px 4px -4px rgba(12, 12, 13, 0.05);
}

:host .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

:host .header p {
    font-size: 1.05rem;
}

:host .amount {
    font-size: 1.7rem;
}

:host .per-change_last-month {
    display: flex;
    margin-top: 0.6rem;
    align-items: flex-end;
}

:host .per-change_last-month .change {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    background: rgba(52, 199, 89, 0.48);
    padding: 0.3rem 0.4rem;
    border-radius: 10px;
}

:host .per-change_last-month .change span {
    font-size: 0.9rem;
    color: #004712;;
}

:host .per-change_last-month .change .percentage {
    font-size: 0.7rem;
    margin-left: 0.2rem;
}

:host .per-change_last-month .last-month {
    font-size: 0.75rem;
    letter-spacing: 0.02rem;
    margin-bottom: 0.1rem;
}
