:host {
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding: 1.1rem 1.2rem;
    box-shadow: 0px 16px 16px -8px rgba(12, 12, 13, 0.1), 0px 4px 4px -4px rgba(12, 12, 13, 0.05);
}