<h1>Sign Up</h1>
<p class="no-account">Already have an account?
    <a routerLink="/auth/sign-in">Sign In</a>
</p>
<form (submit)="onSubmit($event)">
    <div class="upload-profile">
        <div class="profile-image-wrapper">
            <div class="profile-image">
                <img
                    [src]="profilePreview() || 'assets/default-profile.png'"
                    alt="Profile"
                />
            </div>
            <div class="upload-icon" (click)="fileInput.click()">
                <span class="material-symbols-outlined">
                    upload
                </span>
            </div>
            <input 
                #fileInput
                id="file-input"
                type="file"
                (change)="onFileSelect($event)">
        </div>
    </div>
    <div class="name">
        <p>
            <label for="first-name">First Name</label>
            <input 
                type="text"
                placeholder="John"
                [class.error]="fieldErrors.firstName()"
                [formField]="registerForm.firstName">
            @if(fieldErrors.firstName()) {
                <ul class="error-list">
                    @for (error of registerForm.firstName().errors(); track error.kind) {
                        <li>{{ error.message }}</li>
                    }
                </ul>
            }
        </p>
        <p>
            <label for="last-name">Last Name</label>
            <input 
                type="text"
                placeholder="Doe"
                [class.error]="fieldErrors.lastName()"
                [formField]="registerForm.lastName">
            @if(fieldErrors.lastName()) {
                <ul class="error-list">
                    @for (error of registerForm.lastName().errors(); track error.kind) {
                        <li>{{ error.message }}</li>
                    }
                </ul>
            }
        </p>
    </div>
    <div class="field">
        <label for="email">Email</label>
        <input 
            type="email" 
            placeholder="example@gmail.com"
            [class.error]="fieldErrors.email()"
            [formField]="registerForm.email">
        @if(fieldErrors.email()) {
            <ul class="error-list">
                @for (error of registerForm.email().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </div>
    <div class="field">
        <label for="password">Password</label>
        <div class="password-wrapper">
            <input
                [type]="showPassword() ? 'text' : 'password'"
                placeholder="&@^ncq2"
                [class.error]="fieldErrors.password()"
                [formField]="registerForm.password"
                />
            <span
                class="material-symbols-outlined toggle-icon"
                (click)="togglePassword()"
                >
                {{ showPassword() ? 'visibility_off' : 'visibility' }}
            </span>
        </div>
        @if(fieldErrors.password()) {
            <ul class="error-list">
                @for (error of registerForm.password().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </div>
    <div class="field">
        <label for="confirm-password">Confirm Password</label>
        <div class="password-wrapper">
            <input
                [type]="showConfirmPassword() ? 'text' : 'password'"
                placeholder="&@^ncq2"
                [class.error]="fieldErrors.confirmPassword()"
                [formField]="registerForm.confirmPassword"
            />
            <span
                class="material-symbols-outlined toggle-icon"
                (click)="toggleConfirmPassword()"
            >
                {{ showConfirmPassword() ? 'visibility_off' : 'visibility' }}
            </span>
        </div>
        @if(fieldErrors.confirmPassword()) {
            <ul class="error-list">
                @for (error of registerForm.confirmPassword().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </div> 
    <button 
        type="submit"
        [disabled]="isLoading() || registerForm().invalid()"
    >
        @if(isLoading()) {
            <span class="material-symbols-outlined spinning">
                progress_activity
            </span>
        } @else {
            Sign Up
        }
    </button>
</form>