@reference 'tailwindcss';

:host {
    @apply flex flex-col gap-6;
}

:host .header {
    @apply flex items-center justify-between mb-8
}

:host .header p {
    @apply text-[1.05rem];
}

:host .amount {
    @apply text-3xl;
}

:host .per-change_last-month {
    @apply flex items-end mt-[0.6rem]
}

:host .per-change_last-month .change {
    @apply flex items-center mr-2 px-1.5 py-0.5 rounded-md bg-[#34c7597a];
}

:host .per-change_last-month .change span {
    @apply text-[0.9rem] text-[#004712];
}

:host .per-change_last-month .change .percentage {
    @apply text-[0.7rem] ml-1
}

:host .per-change_last-month .last-month {
    @apply text-[0.8rem] tracking-wide
}
