<header class="flex items-center gap-1">
    <div class="flex flex-col">
        <h2 class="text-xl mb-1 tracking-wider">Welcome, Aevan!</h2>
        <p class="text-[#999] text-sm">It is the best time to manage your finances</p>
    </div>
    <div class="flex items-center justify-center gap-3 ml-auto">
        <div>
            <select 
                class="p-2 rounded-md border border-[#c5c5c5] border-solid"
                (change)="onTimePeriodChange($event)"
            >
                @for(range of timePeriodOptions; track $index) {
                    <option [value]="$index">{{ range }}</option>
                }
            </select>
        </div>
    </div>
</header>
<div class="grid grid-cols-4 gap-4">
   <app-summary-card>
        <div class="header">
            <p>Total Balance</p>
            <span class="material-symbols-rounded">
                attach_money
            </span>
        </div>
        <p class="amount" [countUp]="totalBalance().amount" [countUpOptions]="options">0</p>
        <div class="per-change_last-month">
            <p class="change">
                <span class="material-symbols-rounded">
                    arrow_upward
                </span>
                <span class="percentage">{{ totalBalance().percentageChange }}%</span>
            </p>
            <p class="last-month">vs last month</p>
        </div>
   </app-summary-card>
   <app-summary-card>
        <div class="header">
            <p>Income</p>
            <span class="material-symbols-rounded">
                trending_up
            </span>
        </div>
        <p class="amount" [countUp]="income().amount" [countUpOptions]="options">0<p>
        <div class="per-change_last-month">
            <p class="change">
                <span class="material-symbols-rounded">
                    arrow_upward
                </span>
                <span class="percentage">{{ income().percentageChange }}%</span>
            </p>
            <p class="last-month">vs last month</p>
        </div>
   </app-summary-card>
   <app-summary-card>
        <div class="header">
            <p>Expense</p>
            <span class="material-symbols-rounded">
                trending_down
            </span>
        </div>
        <p class="amount" [countUp]="expense().amount" [countUpOptions]="options">0</p>
        <div class="per-change_last-month">
            <p class="change">
                <span class="material-symbols-rounded">
                    arrow_downward
                </span>
                <span class="percentage">{{ expense().percentageChange }}%</span>
            </p>
            <p class="last-month">vs last month</p>
        </div>
   </app-summary-card>
   <app-summary-card>
        <div class="flex justify-between mb-auto">
            <p class="text-[1.05rem]">Avg Daily Spending</p>
            <span class="material-symbols-rounded">
                attach_money
            </span>
        </div>
        <p class="amount" [countUp]="avgDailySpending()" [countUpOptions]="options">0</p>
   </app-summary-card>
</div>
<div class="grid gap-4 grid-cols-3 grid-rows-1">
    <app-summary-card class="col-span-2">
        <p class="text-[1.15rem] font-medium mb-1">Income vs Expense</p>
        <p class="text-[0.85rem] text-gray-500">Showing your incomes and expenses for {{ TimePeriodMap[selectedTimePeriod()] }}</p>
        <app-income-vs-expense-graph [chartData]="incomeVsExpenseData()" [timePeriod]="selectedTimePeriod()" />
    </app-summary-card>
    <app-summary-card>
        <p class="text-[1.15rem] font-medium mb-1">Expenses Breadown</p>
        <p class="text-[0.85rem] text-gray-500 mb-4">Total expenses for {{ TimePeriodMap[selectedTimePeriod()] }}</p>
        <app-expense-breakdown-chart [data]="expenseBreakdown()" [timePeriod]="selectedTimePeriod()" />
    </app-summary-card>
</div>
<div class="grid gap-4 grid-cols-3 grid-rows-1">
    <app-summary-card class="col-span-2 flex flex-col gap-3">
        <div class="flex items-center justify-between">
            <p class="text-[1.15rem] font-medium">Recent Transaction</p>
            <a 
                routerLink="/transactions"
                class="bg-[#1c4532] text-white rounded-sm py-1 pl-3 pr-1 flex items-center text-[0.75rem]"
            >
                View More
                <span class="material-symbols-rounded text-xs ml-0.5">
                    chevron_right
                </span>
            </a>
        </div>
        <app-transaction-table
            [transactions]="recentTransactions()"
            variant="compact"
        />
    </app-summary-card>
    <app-summary-card class="flex flex-col gap-3">
        <div class="flex items-center justify-between">
            <p class="text-[1.15rem] font-medium">Current Goals</p>
            <a 
                routerLink="/goals"
                class="bg-[#1c4532] text-white rounded-sm py-1 pl-3 pr-1 flex items-center text-[0.75rem]"
            >
                View More
                <span class="material-symbols-rounded text-xs ml-0.5">
                    chevron_right
                </span>
            </a>
        </div>
        @for(goal of currentGoalsWithBgColor(); track goal.goalId) {
            <app-goal [goal]="goal" variant="compact" />
        }
    </app-summary-card>
</div>