:host {
    display: flex;
    flex-direction: column;
}

:host header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

:host header .header {
    display: flex;
    flex-direction: column;
}

:host header .header h2 {
    font-weight: 500;
}

:host header .header p {
    color: #999999;
    font-size: 0.9rem;
    margin-left: 0.2rem;
}

:host header button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    background-color: #1C4532;
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: 200;
    cursor: pointer;
}

:host header a span {
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

:host .filter-range {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

:host .filter-range select {
    padding: 0.6rem 0.6rem;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
}

:host .transaction-summary {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

:host .transaction-summary .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.1rem;
}

:host .transaction-summary .header p {
    font-size: 1.05rem;
}

:host .transaction-summary .amount {
    font-size: 1.7rem;
}