<header>
    <div class="header">
        <h2>All Transactions</h2>
        <p>It is the best time to manage your finances</p>
    </div>
    <div>
        <div class="filter-range">
            <select (change)="onRangeChange($event)">
                @for(range of timePeriodOptions; track $index) {
                    <option [value]="$index">{{ range }}</option>
                }
            </select>
        </div>
        <button (click)="onAddTransaction()">
            Add Transaction
            <span class="material-symbols-outlined">
                add
            </span>
        </button>
    </div>
</header>
<app-transaction-table 
    [transactions]="transactions()" 
    [categories]="categories()"
    (delete)="deleteTransaction($event)"
    (edit)="onEditFromTable($event)"
    (filtersChange)="onFiltersChange($event)"
/>
<app-pagination
    [pageNumber]="pageNumber()"
    [pageSize]="pageSize()"
    [totalCount]="totalCount()"
    [pageSizeOptions]="pageSizeOptions"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
/>