<header class="flex gap-1 flex-wrap">
    <div class="flex flex-col mr-auto mb-3">
        <h2 class="mb-1 text-xl">All Transactions</h2>
        <p class="text-[#999] text-sm">It is the best time to manage your finances</p>
    </div>
    <div class="flex items-center justify-center">
        <button 
            class="flex items-center justify-center border-0 text-white bg-[#1c4532] text-sm py-1.5 px-4 rounded-md font-extralight cursor-pointer whitespace-nowrap"
            (click)="onAddTransaction()"
        >
            Add Transaction
            <span class="material-symbols-rounded text-xl ml-2">
                add
            </span>
        </button>
    </div>
</header>
<app-filter 
    [categories]="categories()" 
    [filters]="currentFilters()"
    [config]="config()"
    (filtersChange)="onFiltersChange($event)"
/>
@if(transactions().length !== 0) {
    <app-transaction-table 
        [transactions]="transactions()" 
        (delete)="deleteTransaction($event)"
        (edit)="onEditFromTable($event)"
        [totalCount]="totalCount()"
        (pageNumberChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
        [isLoading]="isLoading()"
    />
} 
<app-pagination
    [pageNumber]="pageNumber()"
    [pageSize]="pageSize()"
    [totalCount]="totalCount()"
    [pageSizeOptions]="pageSizeOptions"
    (pageChange)="onPageChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
/>