:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

:host header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.3rem;
}

:host header .header {
    display: flex;
    flex-direction: column;
}

:host header div:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

:host header .header h2 {
    font-weight: 500;
    margin-bottom: 0.2rem;
}

:host header .header p {
    color: #999999;
    font-size: 0.9rem;
    margin-left: 0.2rem;
}

:host header button {
    display: flex;
    align-items: center; 
    justify-content: center;
    border: none;
    color: #fff;
    background-color: #1C4532;
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 200;
    cursor: pointer;
    white-space: nowrap;
}

:host header button span {
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

:host .filter-range select {
    padding: 0.6rem 0.5rem;
    padding-right: 2rem;
    border-radius: 6px;
    border: 1px solid #c5c5c5;
}

@media screen and (max-width: 1280px) { 
    :host header button {
        margin-top: 0.4rem;
    }
}

@media screen and (max-width: 768px) {
    :host header {
        flex-direction: column;
        align-items: flex-start;
    }   

    :host .filter-range {
        justify-content: flex-start;
    }
}