<header class="flex items-center gap-1 mb-5">
    <div class="flex flex-col">
        <h2 class="mb-1 text-xl">All Transactions</h2>
        <p class="text-[#999] text-sm">It is the best time to manage your finances</p>
    </div>
    <div class="flex items-center justify-center gap-3 ml-auto">
        <button 
            class="flex items-center justify-center border-0 text-white bg-[#1c4532] text-sm py-1.5 px-4 rounded-md font-extralight cursor-pointer whitespace-nowrap"
            (click)="onAddTransaction()"
        >
            Add Transaction
            <span class="material-symbols-rounded text-xl ml-2">
                add
            </span>
        </button>
    </div>
</header>
@if(transactions().length !== 0) {
    <app-transaction-table 
        [transactions]="transactions()" 
        [categories]="categories()"
        (delete)="deleteTransaction($event)"
        (edit)="onEditFromTable($event)"
        (filtersChange)="onFiltersChange($event)"
        [totalCount]="totalCount()"
        (pageNumberChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
        [isLoading]="isLoading()"
    />
} 

@if(hasNoTransactions()) {
    <p class="no-result">No transactions yet</p>
} 

@if(hasNoFilterResults()) {
    <p class="no-result">No results found</p>
}