<header>
    <h2 class="text-xl mb-1 tracking-wider">Welcome, Aevan!</h2>
    <p class="text-[#999] text-sm">It is the best time to manage your finances</p>
</header>
<div class="grid grid-cols-4 gap-4">
   <app-summary-card>
        <div class="header">
            <p>Total Balance</p>
            <span class="material-symbols-rounded">
                attach_money
            </span>
        </div>
        <p class="amount">{{ totalBalance().amount }}</p>
        <div class="per-change_last-month">
            <p class="change">
                <span class="material-symbols-rounded">
                    arrow_upward
                </span>
                <span class="percentage">{{ totalBalance().percentageChange }}%</span>
            </p>
            <p class="last-month">vs last month</p>
        </div>
   </app-summary-card>
   <app-summary-card>
        <div class="header">
            <p>Income</p>
            <span class="material-symbols-rounded">
                trending_up
            </span>
        </div>
        <p class="amount">{{ income().amount }}</p>
        <div class="per-change_last-month">
            <p class="change">
                <span class="material-symbols-rounded">
                    arrow_upward
                </span>
                <span class="percentage">{{ income().percentageChange }}%</span>
            </p>
            <p class="last-month">vs last month</p>
        </div>
   </app-summary-card>
   <app-summary-card>
        <div class="header">
            <p>Expense</p>
            <span class="material-symbols-rounded">
                trending_down
            </span>
        </div>
        <p class="amount">{{ expense().amount }}</p>
        <div class="per-change_last-month">
            <p class="change">
                <span class="material-symbols-rounded">
                    arrow_downward
                </span>
                <span class="percentage">{{ expense().percentageChange }}%</span>
            </p>
            <p class="last-month">vs last month</p>
        </div>
   </app-summary-card>
   <app-summary-card>
        <div class="flex justify-between mb-auto">
            <p class="text-[1.05rem]">Avg Daily Spending</p>
            <span class="material-symbols-rounded">
                attach_money
            </span>
        </div>
        <p class="amount">{{ avgDailySpending() }}</p>
   </app-summary-card>
</div>
<div class="grid gap-4 grid-cols-3 grid-rows-1">
    <app-summary-card class="col-span-2">
        <p>Income vs Expense</p>
    </app-summary-card>
    <app-summary-card>
        <p>Expense By Categories</p>
    </app-summary-card>
</div>
<div class="grid gap-4 grid-cols-3 grid-rows-1">
    <app-summary-card class="col-span-2">
        <div>
            <div class="flex items-center justify-between">
                <p>Recent Transaction</p>
                <a routerLink="/transactions">View More</a>
            </div>
        </div>
    </app-summary-card>
    <app-summary-card>
        <div>
            <p>Current Goal</p>
        </div>
    </app-summary-card>
</div>