<header>
    <p class="welcome">Welcome, Aevan!</p>
    <p class="message">It is the best time to manage your finances</p>
</header>
<div class="dashboard-summaries">
   <app-summary-card>
        <div class="header">
            <p>Total Balance</p>
            <span class="material-symbols-outlined">
                attach_money
            </span>
        </div>
        <p class="amount">2000.00</p>
        <div class="per-change_last-month">
            <p class="change">
                <span class="material-symbols-outlined">
                    arrow_upward
                </span>
                <span class="percentage">12.1%</span>
            </p>
            <p class="last-month">vs last month</p>
        </div>
   </app-summary-card>
   <app-summary-card>
        <div class="header">
            <p>Income</p>
            <span class="material-symbols-outlined">
                trending_up
            </span>
        </div>
        <p class="amount">2500.00</p>
        <div class="per-change_last-month">
            <p class="change">
                <span class="material-symbols-outlined">
                    arrow_upward
                </span>
                <span class="percentage">6.3%</span>
            </p>
            <p class="last-month">vs last month</p>
        </div>
   </app-summary-card>
   <app-summary-card>
        <div class="header">
            <p>Expense</p>
            <span class="material-symbols-outlined">
                trending_down
            </span>
        </div>
        <p class="amount">500.00</p>
        <div class="per-change_last-month">
            <p class="change">
                <span class="material-symbols-outlined">
                    arrow_downward
                </span>
                <span class="percentage">2.4%</span>
            </p>
            <p class="last-month">vs last month</p>
        </div>
   </app-summary-card>
   <app-summary-card>
        <div class="header">
            <p>Expense</p>
            <span class="material-symbols-outlined">
                trending_down
            </span>
        </div>
        <p class="amount">500.00</p>
        <div class="per-change_last-month">
            <p class="change">
                <span class="material-symbols-outlined">
                    arrow_downward
                </span>
                <span class="percentage">2.4%</span>
            </p>
            <p class="last-month">vs last month</p>
        </div>
   </app-summary-card>
</div>
<div class="income-expense">
    <div class="graph">
        <p>Income vs Expense</p>
        <!-- Graph -->
    </div>
    <div class="chart">
        <p>Expense By Categories</p>
        <!-- Chart -->
    </div>
</div>
<div class="transaction-goal">
    <div class="recent-transaction">
        <div class="header">
            <p>Recent Transaction</p>
            <a routerLink="/transactions">View More</a>
        </div>
        <ul></ul>
    </div>
    <div class="current-goals">
        <p>Current Goal</p>
    </div>
</div>