@reference 'tailwindcss';

:host {
    @apply flex flex-col gap-6;
}

:host .dashboard-summaries {
    display: flex;
    align-items: center;
    gap: 1rem;
}

:host .income-expense {
    display: flex;
    gap: 1rem;
}

:host .income-expense .graph,
:host .income-expense .chart {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 14px;
    padding: 1.1rem 1.2rem;
    box-shadow: 0px 16px 16px -8px rgba(12, 12, 13, 0.1), 0px 4px 4px -4px rgba(12, 12, 13, 0.05);
}

:host .income-expense .graph {
    width: 51rem;
}

:host .income-expense .chart {
    width: 30rem;
}

:host .income-expense .graph p {
    font-size: 1.05rem;
}

:host .transaction-goal {
    display: flex;
    gap: 1rem;
}

:host .transaction-goal .recent-transaction,
:host .transaction-goal .current-goals {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 14px;
    display: flex;
    padding: 1.1rem 1.2rem;
    box-shadow: 0px 16px 16px -8px rgba(12, 12, 13, 0.1), 0px 4px 4px -4px rgba(12, 12, 13, 0.05);
}

:host .transaction-goal .recent-transaction {
    width: 51rem;
}

:host .transaction-goal .current-goals {
    width: 30rem;
}

:host .transaction-goal .recent-transaction .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:host .transaction-goal .recent-transaction .header p {
    font-size: 1.05rem;
}

:host .transaction-goal .current-goals {
    font-size: 1.05rem;
}

:host .header {
    @apply flex items-center justify-between mb-8
}

:host .header p {
    @apply text-[1.05rem];
}

:host .amount {
    @apply text-3xl;
}

:host .per-change_last-month {
    @apply flex items-end mt-[0.6rem]
}

:host .per-change_last-month .change {
    @apply flex items-center mr-2 py-1.5 px-2 rounded-lg bg-[#34c7597a];
}

:host .per-change_last-month .change span {
    @apply text-[0.9rem] text-[#004712];
}

:host .per-change_last-month .change .percentage {
    @apply text-[0.7rem] ml-1
}

:host .per-change_last-month .last-month {
    @apply text-sm tracking-wide mb-0.5
}
