@reference 'tailwindcss';

:host {
    @apply flex flex-col bg-white border border-solid border-[#e5e5e5] rounded-xl py-6 px-4 gap-5 mb-4
}

.gray-border {
    @apply border border-solid border-[#c5c5c5] rounded-lg;
}

.header {
    @apply cursor-pointer flex items-center border-0 bg-none;
}

.filter-label {
    @apply text-[0.7rem] ml-1.5 rounded-lg bg-[#c1c1c1] py-1 px-2;
}

.modal {
    @apply absolute bg-white rounded-lg p-4 flex-col top-[50px] left-0;
}

.input {
    @apply py-2.5 px-4;
}

.label {
    @apply text-[0.85rem];
}

th {
    @apply text-left text-[0.85rem] text-[#4b5563] tracking-wider py-2.5 px-3.5;
}

td {
    @apply py-3 px-3.5;
}

:host table tbody tr td p {
    @apply text-sm text-[#111827];
}