:host {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 14px;
    padding: 1.2rem 0;
    gap: 1.2rem;
    box-shadow: 0px 16px 16px -8px rgba(12, 12, 13, 0.1), 0px 4px 4px -4px rgba(12, 12, 13, 0.05);
}

:host h2 {
    font-size: 1.25rem;
    margin-left: 1.8rem;
    font-weight: 500;
}

:host table {
    width: 100%;
    border-collapse: collapse;
}

:host table thead {
    background-color: #f4f4f4;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

:host table thead tr th {
    text-align: left;
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem 0;
    padding: 1.5rem 1.2rem 1rem 1.8rem;
}

:host table tbody tr {
    border-bottom: 1px solid #cacaca;
}

:host table tbody tr td {
    padding: 1.5rem 1.2rem 1.5rem 1.8rem;
}

:host table tbody tr td p {
    font-size: 0.85rem;
}

:host table input {
    width: 0.9rem;
    height: 0.9rem;
}

:host table tbody tr .buttons {
    display: flex;
    justify-content: space-around;
}

:host table tbody tr .buttons button {
    cursor: pointer;
    border: none;
    background: none;
}

:host table tbody tr .buttons button span {
    display: flex;
    align-items: center;
    justify-content: center;
}