:host {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #c5c5c5;
    border-radius: 14px;
    padding: 1.2rem 0;
    gap: 1.2rem;
    box-shadow: 0px 16px 16px -8px rgba(12, 12, 13, 0.1), 0px 4px 4px -4px rgba(12, 12, 13, 0.05);
}

:host h5 {
    font-size: 1.25rem;
    margin-left: 1.8rem;
}

:host .filters {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 1.75rem;
    gap: 0.7rem;
}

:host .filters .search-bar {
    position: relative;
    display: flex;
    align-items: center;
}

:host .filters .search-bar span {
    position: absolute;
    margin: 0 0.5rem;
    color: #9ca3af;
}

:host .filters .search-bar input {
    width: 100%;
    padding: 0.6rem 4rem 0.6rem 2.3rem;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
}

:host .filters .types,
:host .filters .payment-methods {
    padding: 0.6rem 0.6rem;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
}

:host .filters .categories {
    position: relative;
    padding: 0.4rem 0.7rem;
    padding-right: 0.3rem;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
}

:host .filters .amount {
    position: relative;
    padding: 0.5rem 0.6rem;
    padding-right: 0.3rem;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
}

:host .filters .date {
    position: relative;
    padding: 0.5rem 0.6rem;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
}

:host .filters .amount .amount-header,
:host .filters .date .date-header,
:host .filters .categories .category-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background: none;
}

:host .filters .date .date-header span,
:host .filters .amount .amount-header span,
:host .filters .categories .category-header span {
    font-size: 1.3rem;
}

:host .filters .date .date-header .close,
:host .filters .amount .amount-header .close {
    margin: 0 0 0 0.3rem;
}

:host .filters .date .date-header div,
:host .filters .amount .amount-header div {
    font-size: 0.7rem;
    margin-left: 0.3rem;
    border-radius: 8px;
    background-color: #c1c1c1;
    padding: 0.2rem 0.4rem;
}

:host .filters .amount p,
:host .filters .date span,
:host .filters .categories p {
    margin-right: 0.3rem;
}

:host .filters .amount .amount-modal,
:host .filters .categories .category-modal {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    padding: 1rem;
    flex-direction: column;
    gap: 1.2rem;
    top: 50px;
    left: 0;
    display: none;
}

:host .filters .date .date-modal {
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #c5c5c5;
    padding: 1rem;
    flex-direction: column;
    gap: 1.2rem;
    top: 50px;
    left: 0;
    display: none;
}

:host .filters .categories .category-modal label {
    display: flex;
    align-items: center;
}

:host .filters .categories .category-modal label input {
    margin-right: 0.5rem;
}

:host .filters .amount .amount-modal.open,
:host .filters .date .date-modal.open,
:host .filters .categories .category-modal.open {
    display: flex;
}

:host .filters .amount .amount-modal .inputs,
:host .filters .date .date-modal .inputs {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

:host .filters .amount .amount-modal .inputs p input,
:host .filters .date .date-modal .inputs p input {
    padding: 0.6rem 1rem;
    border-radius: 8px;
    border: 1px solid #c5c5c5;
}

:host .filters .amount .amount-modal .inputs p label,
:host .filters .date .date-modal .inputs p label {
    font-size: 0.85rem;
}

:host .filters .clear {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0.6rem 0.8rem;
    border-radius: 10px;
    cursor: pointer;
}

:host .filters .clear span {
    margin-right: 0.3rem;
    font-size: 1.2rem;
}

:host table {
    width: 100%;
    border-collapse: collapse;
    padding: 1.5rem 1.2rem 1rem 1.8rem;
}

:host table thead {
    background-color: #f4f4f4;
    border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
}

:host table thead tr th,
:host table tbody tr td {
    padding: 1.5rem 2rem 1.3rem 2rem;
}

:host table thead tr th {
    text-align: left;
    font-size: 0.8rem;
    font-weight: 600;
    color: #4B5563;
    letter-spacing: 0.05rem;
}

:host table tbody tr {
    border-bottom: 1px solid #cacaca;
}

:host table tbody tr td p {
    font-size: 0.875rem;
    color: #111827;
}

:host table tbody tr .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

:host table tbody tr .buttons button {
    cursor: pointer;
    border: none;
    background: none;
    color: #111827;
}

:host table tbody tr .buttons button span {
    display: flex;
    align-items: center;
    justify-content: center;
}