@reference 'tailwindcss';

* {
    @apply transition-all;
}

:host {
    @apply flex flex-col gap-4
}

:host(.compact) {
    @apply border-0 p-0 bg-transparent rounded-none;
}

th {
    @apply text-left text-[0.8rem] tracking-wider py-3 px-4 whitespace-nowrap;
}

td {
    @apply py-2.5 px-4;
}

td p {
    @apply text-[0.8rem] whitespace-nowrap
}

.skeleton {
    @apply h-4 bg-gray-200 rounded-full w-full;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 18;
}
