<h1 class="text-xl font-bold mb-6">
    {{ isEdit() ? "Edit" : "Add" }} Category
</h1>
<form (submit)="onSubmit($event)" class="flex flex-col gap-5">
    <hlm-field-group>
        <hlm-field class="flex flex-col gap-1" [forceInvalid]="fieldErrors.transactionType()">
            <label hlmFieldLabel for="type">Transaction Type</label>
            <div class="flex gap-4">    
                <label class="center flex-1 gray-border py-2 gap-1 cursor-pointer">
                    <input 
                        type="radio"
                        value="Income"
                        [formField]="categoryForm.transactionType">
                    Income
                </label>
                <label class="center flex-1 gray-border py-2 gap-1 cursor-pointer">
                <input 
                        type="radio" 
                        value="Expense"
                        [formField]="categoryForm.transactionType">
                    Expense
                </label>
            </div>
            <hlm-field-error>
                @if(fieldErrors.transactionType()) {
                    <ul class="error-list">
                        @for(error of categoryForm.transactionType().errors(); track error.kind) {
                            <li>{{ error.message }}</li>
                        }
                    </ul>
                }
            </hlm-field-error>
        </hlm-field>
        <hlm-field [forceInvalid]="fieldErrors.name()">
            <label hlmFieldLabel for="name">Name</label>
            <input 
                hlmInput
                type="text"
                [formField]="categoryForm.name">
            <hlm-field-error>
                @if(fieldErrors.name()) {
                    <ul class="error-list">
                        @for(error of categoryForm.name().errors(); track error.kind) {
                            <li>{{ error.message }}</li>
                        }
                    </ul>
                }
            </hlm-field-error>
        </hlm-field>
        <div class="ml-auto">
            <button
                hlmBtn 
                variant="outline"
                class="bg-(--bg-main-color) text-white"
                type="submit" 
                [disabled]="isLoading() || categoryForm().invalid()"
            >
            @if(isLoading()) {
                    <span class="material-symbols-outlined spinning">
                        progress_activity
                    </span>
            } @else { 
                <p>{{ isEdit() ? "Update" : "Create" }}</p>
            }
            </button>
        </div>
    </hlm-field-group>
</form>