<hlm-popover sideOffset="5">
    <button 
        hlmBtn
        hlmPopoverTrigger
        variant="outline"
    >
        @if (!hasValue()) {
            <ng-icon [name]="labelOption().icon" size="1.2rem" />
            <p class="filter-name">{{ labelOption().label }}</p>
        } @else {
            <div class="filter-value">{{ start() }} - {{ end() }}</div>
            <span 
                class="material-symbols-rounded ml-1.5" 
                role="button"
                (click)="$event.stopPropagation(); clear.emit()"
            >
                close   
            </span>
        }
        
    </button>

    <hlm-popover-content class="flex items-center p-4" *hlmPopoverPortal>
        <p class="w-full flex items-center justify-between">
            <label class="text-[0.8rem] w-full">{{ labelOption().startLabel }}</label>
            <input
                hlmInput
                [type]="kind()"
                [value]="start()"
                (input)="onStartChange($event)" />
        </p>
        <p class="w-full flex items-center justify-between">
            <label class="text-[0.8rem] w-full">{{ labelOption().endLabel }}</label>
            <input
                hlmInput
                [type]="kind()"
                [value]="end()"
                (input)="onEndChange($event)" />
        </p>
    </hlm-popover-content>
</hlm-popover>