<hlm-popover sideOffset="8" align="end">
    <button hlmPopoverTrigger class="flex items-center gap-1 cursor-pointer">
        <hlm-avatar class="size-9">
            @if (user()?.profilePictureUrl) {
                <img hlmAvatarImage [src]="user()?.profilePictureUrl" [alt]="fullName()" />
            }
            <span hlmAvatarFallback [style.backgroundColor]="bgColor()">
                {{ initials() }}
            </span>
        </hlm-avatar>
       <ng-icon name="lucideChevronDown" class="text-white" size="1.2rem"/>
    </button>
    <div hlmPopoverContent *brnPopoverContent="let ctx" class="p-0 w-64 bg-[#1c4532] border-gray-600">
        <div class="flex items-center gap-3 px-3 pt-3">
            <hlm-avatar class="size-12">
                @if (user()?.profilePictureUrl) {
                    <img hlmAvatarImage [src]="user()?.profilePictureUrl" [alt]="fullName()" />
                }
                <span hlmAvatarFallback [style.backgroundColor]="bgColor()" class="font-medium">
                    {{ initials() }}
                </span>
            </hlm-avatar>
            <div class="flex flex-col min-w-0">
                <p class="text-white font-medium text-sm truncate">{{ fullName() }}</p>
                <p class="text-gray-400 text-xs truncate">{{ email() }}</p>
            </div>
        </div>
        <hlm-separator class="bg-gray-600" />
        <div class="px-2">
            <a routerLink="/profile" class="flex items-center gap-3 px-1 text-sm text-white hover:opacity-80 transition-opacity rounded">
                <ng-icon name="lucideUser" size="1.1rem" />
                Profile
            </a>
        </div>
        <hlm-separator class="bg-gray-600" />
        <div>
            <button
                class="w-full flex items-center gap-2 bg-transparent text-red-400 text-sm cursor-pointer hover:opacity-80 transition-opacity px-3 pb-3.5 "
                (click)="ctx.close(); logout()"
                type="button">
                <ng-icon name="lucideLogOut" size="1.2rem" />
                    Log out
                </button>
        </div>
    </div>
</hlm-popover>