<div class="gray-border overflow-hidden">
    <table class="w-full border-collapse">
        <thead class="bg-gray-100 border-b border-solid border-[#c5c5c5]">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @if(isLoading()) {
                @for(skeleton of [1,2,3,4,5,6,7,8,9,10]; track skeleton) {
                    <tr class="border-b border-solid border-[#cacaca] animate-pulse">
                        @for(i of [1,2,3]; track i) {
                            <td>
                                <div class="skeleton"></div>
                            </td>
                        }
                    </tr>
                }
            } @else {
                @for(c of categories(); track c.id) {
                    <tr class="border-b border-solid border-[#cacaca] hover:bg-gray-50 transition-colors duration-150">
                        <td>
                            <p>{{ c.name }}</p>
                        </td>
                        <td>
                            <p 
                                class="inline-flex items-center px-2 py-1 rounded-full font-medium"
                                [class]="c.transactionType | transactionTypeColor:true"
                            >
                                {{ c.transactionType | uppercase }}
                            </p>
                        </td>
                        <td>
                            <div 
                                role="button" 
                                class="relative flex items-center cursor-pointer"
                                (click)="toggleModalId(c.id)"
                            >
                                <span class="material-symbols-rounded">
                                    more_horiz
                                </span>
                            </div>

                            @if(openModalId() === c.id) {
                                <div class="absolute right-25 top-55 mt-2 bg-white shadow-lg rounded-md py-1.5 px-1 z-10 gray-border">
                                    <button 
                                        class="w-full text-left rounded-sm pl-3 pr-20 py-1 hover:bg-gray-100 flex items-center gap-2.5 cursor-pointer"
                                        (click)="onEdit(c.id)"
                                    >
                                        <span class="material-symbols-rounded text-sm">edit</span>
                                        Edit
                                    </button>
                                    <button 
                                        class="w-full text-left px-3 py-1 rounded-sm hover:bg-gray-100 flex items-center gap-2 text-red-600 cursor-pointer"
                                        (click)="onDelete(c.id)"
                                    >
                                        <span class="material-symbols-rounded">delete</span>
                                        Delete
                                    </button>
                                </div>
                            }
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>