@defer {
    <div hlmTableContainer class="gray-border bg-white">
        <table hlmTable>    
            <thead hlmTHead>
                @for (headerGroup of _table.getHeaderGroups(); track headerGroup.id) {
                    <tr hlmTr>
                        @for (header of headerGroup.headers; track header.id) {
                            <th hlmTh [attr.colSpan]="header.colSpan">
                                @if (!header.isPlaceholder) {
                                    <ng-container
                                        *flexRender="header.column.columnDef.header;
                                        props: header.getContext();
                                        let headerText"
                                    >
                                        <div [innerHTML]="headerText"></div>
                                    </ng-container>
                                }
                            </th>
                        }
                    </tr>
                }
            </thead>
            <tbody hlmTBody>
                @if (isLoading()) {
                    @for (skeleton of [1,2,3,4,5,6,7,8,9,10]; track skeleton) {
                        <tr hlmTr>
                            @for (column of _columns; track column.id) {
                                <td hlmTd><hlm-skeleton class="h-4" /></td>
                            }
                        </tr>
                    }
                } @else {
                    @for (row of _table.getRowModel().rows; track row.id) {
                        <tr hlmTr [attr.key]="row.id" [attr.data-state]="row.getIsSelected() && 'selected'">
                            @for (cell of row.getVisibleCells(); track cell.id) {
                                <td hlmTd>
                                    <ng-container 
                                        *flexRender="cell.column.columnDef.cell; 
                                        props: cell.getContext(); 
                                        let cellContent"
                                    >
                                        <div [innerHTML]="cellContent"></div>
                                    </ng-container>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}