@reference 'tailwindcss';

:host {
    @apply flex flex-col bg-white border border-solid border-[#e5e5e5] rounded-xl pt-6 pb-3 px-4 gap-4
}

.header {
    @apply cursor-pointer flex items-center border-0 bg-none;
}

.modal {
    @apply absolute bg-white rounded-lg p-4 flex-col top-[50px] left-0;
}

th {
    @apply text-left text-[0.8rem] tracking-wider py-2 px-4;
}

td {
    @apply py-2 px-4;
}

td  p {
    @apply text-[0.8rem];
}

.skeleton {
    @apply h-4 bg-gray-200 rounded-full w-full;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 18;
}
