<h1>Sign In</h1>
<p class="no-account">Don't have an account?
    <a routerLink="/auth/sign-up">Create Now</a>
</p>
<form (submit)="onSubmit($event)">
    <div class="field">
        <label for="email">Email</label>
        <input 
            type="email" 
            placeholder="example@gmail.com"
            [class.error]="fieldErrors.email()"
            [field]="loginForm.email">
        @if(fieldErrors.email()) {
            <ul class="error-list">
                @for (error of loginForm.email().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </div>
    <div class="field">
        <label for="password">Password</label>
        <div class="password-wrapper">
            @if (showPassword()) {
                <input
                    type="text"
                    placeholder="&@^ncq2"
                    [class.error]="fieldErrors.password()"
                    [field]="loginForm.password"
                />
            } @else {
                <input
                    type="password"
                    placeholder="&@^ncq2"
                    [class.error]="fieldErrors.password()"
                    [field]="loginForm.password"
                />
            }
            <span
                class="material-symbols-outlined toggle-icon"
                (click)="togglePassword()"
            >
                {{ showPassword() ? 'visibility_off' : 'visibility' }}
            </span>
        </div>
        @if(fieldErrors.password()) {
            <ul class="error-list">
                @for (error of loginForm.password().errors(); track error.kind) {
                    <li>{{ error.message }}</li>
                }
            </ul>
        }
    </div>
    <div class="forgot-password">
        <a routerLink="/auth/forgot-password">Forgot Password?</a>
    </div>
    <button 
        type="submit"
        [disabled]="isLoading() || loginForm().invalid"
    >
        @if(isLoading()) {
            <span class="material-symbols-outlined spinning">
                progress_activity
            </span>
        } @else {
            Sign In
        }
    </button>
</form>