.container {
    display: flex;
    min-height: 100dvh;
}

.container .left,
.container .right {
    flex: 1;
}

.container .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .right {
    background-color: #1C4532;
}