:host {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background-color: #1C4532;
}

:host .active {
    background-color: rgba(0, 204, 109, 0.2);
    border-radius: 8px;
}

:host .wrapper {
    padding: 1.5rem 1.2rem;
}

:host .wrapper .heading {
    margin-bottom: 2rem;
}

:host .wrapper .heading h1 {
    font-size: 1.5rem;
    color: #fff;
}

:host .wrapper nav {
    
}

:host nav ul {
    list-style-type: none;
}

:host nav ul li {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 0.3rem;
}

:host nav ul li span {
    font-size: 1.3rem;
    color: #fff;
}

:host nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.95rem;
    margin-left: 1.3rem;
}

:host div {
    margin-top: auto;
}

:host div button {
    border: none;
    background: none;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 0.95rem;
    cursor: pointer;
}

:host div button span {
    margin-right: 1.2rem;
    font-size: 1.2rem;
    color: #fff;
}

:host div .profile-wrapper {
    margin-top: 1.3rem;
    display: flex;
}

:host div .profile-wrapper img {
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: 1px solid gray;
}

:host div .profile-wrapper .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.5rem;
    margin-top: 0;
}

:host div .profile-wrapper .profile-info .name {
    color: #fff;
    font-size: 0.9rem;
}

:host div .profile-wrapper .profile-info .email {
    color: #fff;
    font-size: 0.75rem;
}