<div class="wrapper">
    <div class="heading">
        <h1>Auren</h1>
    </div>
    <nav>
        <ul>
            @for(items of sidebarItems; track items.icon) {
                <li routerLinkActive="active">
                    <span class="material-symbols-rounded">
                        {{ items.icon }}
                    </span>
                    <a [routerLink]="items.route">{{ items.label }}</a>
                </li>
            }
        </ul>
    </nav>
    <div>
        <button (click)="logout()" type="button">
            <span class="material-symbols-rounded">
                logout
            </span>
            Logout
        </button>
        <div class="profile-wrapper">
            <img src="assets/default-profile.png">
            <div class="profile-info">
                <p class="name">Aevan Belleza</p>
                <p class="email">aevanazelleb@gmail.com</p>
            </div>
        </div>
    </div>
</div>