<h3>Auren</h3>
<ul>
    <li>
        <span class="material-symbols-outlined">
            dashboard
        </span>
        <a routerLink="/dashboard">Dashboard</a>
    </li>
    <li>
        <span class="material-symbols-outlined">
            compare_arrows
        </span>
        <a routerLink="/transactions">Transactions</a>
    </li>
    <li>
        <span class="material-symbols-outlined">
            category
        </span>
        <a routerLink="/categories">Categories</a>
    </li>
    <li>
        <span class="material-symbols-outlined">
            target
        </span>
        <a routerLink="/goals">Goals</a>
    </li>
</ul>
<div>
    <button (click)="logout()" type="button">
        <span class="material-symbols-outlined">
            logout
        </span>
        Logout
    </button>
    <div class="profile-wrapper">
        <img src="assets/default-profile.png">
        <div class="profile-info">
            <p class="name">Aevan Belleza</p>
            <p class="email">aevanazelleb@gmail.com</p>
        </div>
    </div>
</div>