* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100dvw;
    min-height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F9F9;
    padding: 1.5rem;
}