@import 'tailwindcss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 100dvw;
    min-height: 100dvh;    
    font-family: "Roboto", sans-serif;
    background-color: #F9F9F9;
    overflow-x: hidden;
}

.dialog .mdc-dialog__surface {
  border-radius: 0 !important;
}