@import 'tailwindcss';

@layer base {
  *, *::before, *::after {
    @apply box-border;
  }

  * {
    @apply m-0 p-0;
  }
}

body {
  @apply min-w-dvw min-h-dvh font-onest bg-[#f9f9f9] overflow-x-hidden;
}

.dialog .mdc-dialog__surface {
  border-radius: 0 !important;
}

@layer components {
  .gray-border {
    @apply border border-solid border-[#c5c5c5] rounded-md;
  }

  .center {
    @apply flex items-center justify-center;
  }
}

@theme {
  --bg-main-color: #1c4532;
  --font-onest: "Onest", sans-serif; 
}